
@{
	ViewData["Title"] = "Index";
}


<div class="input-group">
	<input id="txtFiltrarTipoMedicamento" type="text" class="form-control" onkeyup="filtrarSucursal() " placeholder="Ingresar tipo de medicamento a buscar" aria-label="Recipient's username with two button addons">
</div>

<h1>Lista de sucursales</h1>
<div id="divTabla2">
</div>



<script src="~/js/generic.js"></script>
<script src = "~/js/sucursal.js"></script>