
@{
	ViewData["Title"] = "Index";
}

<h1>Listado de medicamentos</h1>


<div class="input-group">
	<input id="txtFiltrarTipoMedicamento" type="text" class="form-control" onkeyup="filtrarTipoMedicamento()" placeholder="Ingresar tipo de medicamento a buscar" aria-label="Recipient's username with two button addons">
</div>



<div id="divTabla">


</div>




<script src="~/js/generic.js"></script>
<script src="~/js/tipoMedicamento.js"></script>